:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0b0d20 ;
    --cor-secundaria: #212333 ;
    --cor-destaque: #2BDEFD ;
--cor-texto: #d7f9ff ;

}

body{
background-color: var(--cor-fundo);
color: var(--cor-texto);
}